{% extends 'base.html' %}

{% block title %}Профайл пользователя{% endblock %}

{% block content %}
{% if not user.is_active %}
<h2>Аккаунт не активирован</h2>
{% endif %}
{% if user.is_anonymous %}
<h2>Необходимо залогиниться</h2>
{% endif %}
{% if user.is_authenticated %}
<div class="container">
    <div>
        <h1 class="">Профайл</h1>
        <p>Имя пользователя: {{ user.username }}</p>
        <p>Электропочта: {{ user.email }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Телефон: {{ user.phone }}</p>
    </div>
    <div>
        <h1>Редактировать</h1>
        <p>Незаполненные данные не сохраняются и не отображаются.</p>
        <form method="POST" action="" class="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Изменить</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
