<!--при масштабировании перестает работать!!! -->
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pyjobs</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{% url 'main' %}">Главная</a></li>
            <li><a href="{% url 'adverts' %}">Объявления</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
            <li><a href="/search">Поиск</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {%  if user.is_staff %}
            <li><a href="/admin">Админ</a></li>
            {%  endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' username=user.username %}">{{user.username}} | Профайл</a></li>
            <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'register' %}">Регистрация </a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>