{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Что-то пошло не так. Попробуйте еще раз.</p>
{% endif %}


    {% if user.is_authenticated %}
    <h1>Ю АЛРЕДИ ЛОГГЕД ИН</h1>
    {% endif %}

{% if user.is_anonymous %}
<div class="container">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    <h1>Войти:</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Войти" />
    <input type="hidden" name="next" value="{{ next }}" />
    <a href="{% url 'password_reset' %}">Амнезия?</a>
</form>
</div>
{% endif %}

{% endblock %}