{% extends 'base.html' %}
{% load crispy_forms_tags %}

{{ title }} | PyJobs

{% block content %}
    <div class="container">
        {% include 'adverts/messages_display.html' %}
        <h3>{{ title }}</h3>
        <div class="col-md-6">
            <form method="POST" action="">{% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-success" type="submit" value="Сбросить" />
            </form>
        </div>
        <div class="col-md-6">
        </div>
    </div>
{% endblock %}