{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="col-md-6">
        <h3>Профайл пользователя: {{ profile.user.username }}</h3>
        <ul>
            <ul>Юзернейм: {{ profile.user.username }}</ul>
            <ul>Город: {{ profile.user.city }}</ul>
            <ul>Предлагаю вакансии: {{ profile.user.is_recruiter }}</ul> <!--надо иконки ОК и неОК-->
            <ul>Ищу работу: {{ profile.user.is_worker }}</ul>
            <ul>Телефон: {{ profile.user.phone }}</ul>
        </ul>
    </div>
    <div class="col-md-6">
{#        <h3>Сменить пароль</h3>#}
        <!--
        TODO тут надо вствить PasswordResetForm
        -->
    </div>
        <!--
        TODO раздел объявления, возможность управлять объявлениями
        -->
</div>
{% endblock %}