{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="col-md-6">
        <h3>Профайл пользователя: {{ user_profile.username }}             {% if user_profile.username == request.user.username %}
            <a href="{% url 'profile_update' slug=user.username %}" style="text-decoration: underline; font-style: italic; font-size: 16px">редактировать</a>
            {% endif %}
        </h3>
        <ul>
            <ul>Юзернейм: {{ user_profile.username }}</ul>
            <ul>Город: {{ user_profile.location }}</ul>
            {% if user_profile.is_recruiter == True %}
                <ul>Предлагаю вакансии: <i class="fa fa-check"></i> </ul>
            {% else %}
                <ul>Предлагаю вакансии: <i class="fa fa-times"></i> </ul>
            {%  endif %}
            {% if user_profile.is_worker == True %}
                <ul>Ищу работу: <i class="fa fa-check"></i></ul>
            {% else %}
                <ul>Ищу работу: <i class="fa fa-times"></i></ul>
            {% endif %}
            <ul>Телефон: {{ user_profile.phone }}</ul>
            <ul>Электропочта: {{ user_profile.email_to_contact }}</ul>
            <ul>Сайт: <a href="{{ user_profile.homepage }}">{{ user_profile.homepage }}</a></ul>
        </ul>


    </div>
    <div class="col-md-6">
        <h3>Объявления пользователя:</h3>
        {% if adverts %}
        <ul>
            {% for x in adverts %}
                <ul><a href="{% url 'advert_detail' pk=x.pk %}">{{ x.title }}</a></ul>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>
{% endblock %}