{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="col-md-6">
        <h3>Профайл пользователя: {{ user_profile.user.username }}</h3>
            <form method="POST" action="">{% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-success" type="submit" value="Внести изменения" />
                <a href="{% url 'password_reset' %}" class="btn btn-warning">Сменить пароль</a>
            </form>
    </div>

</div>
{% endblock %}