{% extends 'base.html' %}



{% block content %}
    <div class="container">
        <h1>Все объявления</h1>
        <h3><a href="{% url 'advert_create' %}">Добавить новое</a></h3>

        {% include 'adverts/messages_display.html' %}

        <div>

            {% for obj in objects_list %}
            <div class="container" style="border: dashed 1px #3baa04"> <!--просто чтобы видеть блоки-->
                <div class="col-md-4">
                    <ul>
                        <ul>Оплата: {{ obj.salary }}</ul>
                        <ul>Город: {{ obj.city }}</ul>
                        {% if obj.is_remote == True %}
                            <ul>Удаленно: <i class="fa fa-check"></i></ul>
                        {% else %}
                            <ul>Удаленно: <i class="fa fa-times"></i></ul>
                        {% endif %}
                        <ul>Опубликовано: {{ obj.author }} </ul>
                        <ul>Дата: {{ obj.timestamp }}</ul>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h2>Требуется <a href="{% url 'advert_detail' pk=obj.pk %}">{{ obj.title }}</a> в город {{ obj.city }}</h2>
                    <p>
                        {{ obj.description }}
                        <a href="{% url 'advert_detail' pk=obj.pk %}"> Подробнее...</a>
                    </p>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="container text-center">
            {% if is_paginated %}
          <nav>
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li>
                  <a href="?page={{ page_obj.previous_page_number }}">
                    <span>Назад</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <a href="#">
                    <span>Назад</span>
                  </a>
                </li>
              {% endif %}

              {% for page in paginator.page_range %}
                <li {% if page == page_obj.number %}class="active"{% endif %}>
                  <a href="?page={{ page }}">{{ page }}</a>
                </li>
              {% endfor %}

              {% if page_obj.has_next %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}">
                    <span>Вперед</span>
                  </a>
                </li>
              {% else %}
                <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                  <a href="#">
                    <span>Вперед</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
                 {% endif %}

        </div>
    </div>
{% endblock %}