{% extends 'base.html' %}

{% block head_title %} {{ object.title }} | PyJobs {% endblock %}

{% block content %}

    <div class="container">
            <h2>{{ object.title }}</h2> </br>
            {{ object.description }} </br>
            {{ object.requirements }} </br>
            {{ object.salary }} </br>
            {{ object.city }} </br>
            {{ object.distance }} </br>
            {{ object.timestamp }} </br>
    <div>
        <form action="" method="post">{% csrf_token %}
        <p>Вы действительно хотите удалить "{{ object }}"?</p>
        <input class="btn btn-success" type="submit" value="Удалить" />
</form>
    </div>
    </div>

{% endblock %}