{% extends 'base.html' %}
{% load el_pagination_tags %}


{% block content %}
    <div class="container">
        <h1>Все объявления</h1>

        {% include 'adverts/messages_display.html' %}

        <div>
        {% paginate objects_list %}
            {% for obj in objects_list %}
            <div class="container">
                <div class="col-md-4">
                    <ul>
                        <ul>Оплата: {{ obj.salary }}</ul>
                        <ul>Город: {{ obj.city }}</ul>
                        <ul>Удаленно: {{ obj.is_remote }}</ul> <!--надо иконки ОК и неОК-->
                        <ul>Опубликовано: {{ obj.timestamp }}</ul>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h2>Требуется <a href="{% url 'advert_detail' pk=obj.pk %}">{{ obj.title }}</a> в город {{ obj.city }}</h2>
                    <p>
                        {{ obj.description }}
                        <a href="{% url 'advert_detail' pk=obj.pk %}"> Подробнее...</a>
                    </p>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="container text-center">
            {% get_pages %}
            Показаны записи
            {{ pages.current_start_index }}-{{ pages.current_end_index }} из
            {{ pages.total_count }}.
            {# Just print pages to render the Digg-style pagination. #}
            {{ pages }}
        </div>
    </div>
{% endblock %}